body{
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.q {
    font-size: 1.15em;
    font-weight: bold;
    font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 2em;
    width: 350px;
    border: 10px solid grey;
    padding: 5px;
    margin: 2px;
    background-image: url("blue-snow.webp");
}
