
body{
    font-size: 20px;
}
.t1 {
    box-sizing: border-box;
    float: left;
    width: 40%;
    padding: 10px;
    border: 5px solid gray;
    font-size: 2em;
    background-color: grey;
}
.t2 {
    box-sizing: border-box;
    float: right;
    width: 40%;
    padding: 10px;
    border: 5px solid gray;
    font-size: 2em;
    background-color: grey;
        
}
.c1 {
    box-sizing: border-box;
    width: 40%;
    padding: 10px;
    border: 5px solid gray;
    float: left;
    font-size: 2em;
    background-color: lightgrey;
}
.c2 {
    box-sizing: border-box;
    width: 40%;
    padding: 10px;
    border: 5px solid gray;
    float: right;
    font-size: 2em;
    background-color: lightgrey;
}
.m1 {
    box-sizing: border-box;
    width: 20%;
    padding: 10px;
    border: 5px solid #5d0d7a;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    font-size: 1.5em;
    background-color: #5d0d7a;
    color: lightgray;
    height: 4em;
}
.m2 {
    box-sizing: border-box;
    width: 20%;
    
    border: 5px solid #5d0d7a;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 22em;
}
.LCal {
    box-sizing: border-box;
    width: 10%; 
    border: 5px solid grey;
    background-color: #5d0d7a;
    float: left;
    padding-top: 2em;
    padding-right: 44%;
    padding-bottom: 1em;
}
.RCal {
    box-sizing: border-box;
    width: 10%;
    padding-top: 2em;
    border: 5px solid grey;
    background-color: grey;
    float: right;
    padding-left: 44%;
    background-color: white;
    padding-bottom: 1em;
    
}
.top {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 5px solid gray;
    font-size: 2em;
    text-align: center;
    background-color: #5d0d7a;
    color: lightgrey;
}
.top2 {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 5px solid gray;
    font-size: 2em;
    text-align: center;
    background-color: lightgrey;
    color: black;
    margin-bottom:1em;
}
#btn1{
    background-color: white;  
    font-size: .5em;
    background-color: #5d0d7a;
    color: lightgray;
    border-color: white;
}
#drinksselector1{
    font-size: .5em;
    background-color: #5d0d7a;
    color: lightgray;
    
}
#btn2{
    background-color: white;  
    font-size: .5em;
    background-color: #5d0d7a;
    color: lightgray;
    border-color: white;
}
#drinksselector2{
    font-size: .5em;
    background-color: #5d0d7a;
    color: lightgray;
}
.gridBoxOwn{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 5px solid  black;
    font-size: 2em;
    text-align: center;
    background-color: lightgrey;
    color: lightgrey;
    margin: 0em;
}
.gridBoxOwn:link{
    color: grey;
}
.alldrinkslink {
    box-sizing: border-box;
    width: 33.33%;
    padding: 10px;
    border: 5px solid gray;
    font-size: 2em;
    text-align: center;
    background-color: lightgrey;
    color: lightgrey;
    float: left;
}
.AboutUs {
    box-sizing: border-box;
    width: 33.33%;
    padding: 10px;
    border: 5px solid gray;
    font-size: 2em;
    text-align: center;
    background-color: lightgray;
    color: lightgrey;
    float: right;
}
.ContactUs {
    box-sizing: border-box;
    width: 33.33%;
    padding: 10px;
    border: 5px solid gray;
    font-size: 2em;
    text-align: center;
    background-color: lightgrey;
    color: lightgrey;
    float: right;
}